.header{
  height: $height*12.5;
  position: absolute;
  z-index: 7;
  margin:auto;
  left:0;
  right:0;
  .logo {
    cursor: pointer;    
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    &:active, &:focus{
      opacity: 0.5;
    }
  }
  .navigation{
    line-height: 30px;
    @media (max-width:$md4) {
      font-size: 18px;
    } 
    &__menu {
      @media (max-width:$md5) {        
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #EBEEF5;
        margin: 0;
        padding: 0 0 0 0;
        transform: translate3d(0, -100%, 0);
        transition: all 0.3s ease 0s;
        &.active{
            transform: translate3d(0, 0, 0);
            top: 95px;
        }
      } 
    }
    &__item {
      margin-left: 33px;
      a {
        color: #ffffff;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(255, 0, 0, .0);
        padding-bottom: $padding*0.8;  
        @media (max-width:$md1) {
          color: #000000;
        } 
      }
      a:hover, a:focus {
        border-bottom: 2px solid #ffffff; 
        opacity: 0.8;
        @media (max-width:$md1) {
          border-bottom: 2px solid $basic_green; 
        }
      }
      a:active {
        border-bottom: 2px solid #ffffff; 
      }
      @media (max-width:$md5) {
        padding: 12px 0;
      }
    }
    .icon-menu {
      @media (max-width: $md5){
        display: block;
        position: absolute;
        top: 44px;
        right: 35px;
        width: 20px;
        height: 12px;
        cursor: pointer;
        z-index: 100;
        span {
            transition: all 0.3s, ease 0s;
            top: 5px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #2B2D3A;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &.active {
            span {
                background-color:  #2B2D3A;
                transform: scale(0);
                &:first-child {
                    transform:rotate(-45deg);
                    top: 5px;
                }
                &:last-child {
                    transform:rotate(45deg);
                    bottom: 5px;
                }
            }
        }
      }
    }
  }
}